<%= erb :header %>

<div class="container nav-sep">
  <% if @type == "cots" %>
  <h2>Add New COTS Part</h2>
  <% else %>
  <h2>Create New <%= @type.capitalize %></h2>
  <% end %>
  <hr>

  <form action="/parts" method="POST">
    <input type=hidden name=type value="<%= @type %>" />
    <div class="row">
      <div class="col-2">
        <label class="float-right">Project</label>
      </div>
      <div class="col-4">
        <input type="text" disabled value="<%= @project.name %>">
        <input type="hidden" name="project_id" value="<%= @project.id %>">
      </div>
    </div>
    <% if @type == "cots" %>
      <input type="hidden" name="name" value="COTS Part" />
      <div class="row">
        <div class="col-2">
          <label class="float-right">Vendor</label>
        </div>
        <div class="col-4">
          <select name="vendor_id" onchange="changeVendorPartFilter(this.value);">
            <% Vendor.each do |vendor| %>
            <option value="<%= vendor.id %>">
              <%= vendor.part_number_prefix %> | <%= vendor.name %>
            </option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <label class="float-right">COTS Part</label>
        </div>
        <div class="col-4">
          <%= erb :vendor_parts %>

        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <label class="float-right">Quantity</label>
        </div>
        <div class="col-4">
          <input type="text" name = "quantity">
        </div>
      </div>
    <% else %>
    <div class="row">
      <div class="col-2">
        <label class="float-right"><%= @type.capitalize %> Name</label>
      </div>
      <div class="col-4">
        <input type="text" name="name" />
      </div>
    </div>
    <% end %>
    <div class="row">
      <div class="col-2">
        <label class="float-right">Parent Assembly</label>
      </div>
      <div class="col-4">
        <select name="parent_part_id">
          <% @project.parts.select { |p| p.type == "assembly"}.each do |part| %>
          <option value="<%= part.id %>"<% if part.id == @parent_part_id.to_i %> selected<% end %>>
            <%= part.full_part_number %> - <%= part.name %>
          </option>
          <% end %>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-4 offset-2">
        <label class="float-right mt-1">
          <input type="submit" class="btn btn-success btn-medium" value="Create <%= @type.capitalize %>">
        </label>
      </div>
    </div>
  </form>
</div>

<%= erb :footer %>
