<%= erb :header %>

<div class="container nav-sep">
  <h2>Create New <%= @type.capitalize %></h2>
  <hr>

  <form action="/parts" method="POST">
    <div class="row">
      <div class="col-2">
        <label class="float-right">Project</label>
      </div>
      <div class="col-4">
        <input type="text" disabled value="<%= @project.name %>">
        <input type="hidden" name="project_id" value="<%= @project.id %>">
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <label class="float-right"><%= @type.capitalize %> Name</label>
      </div>
      <div class="col-4">
        <input type="text" name="name" />
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <label class="float-right">Parent Assembly</label>
      </div>
      <div class="col-4">
        <select style="width: 100%;" name="parent_part_id">
          <% @project.parts.select { |p| p.type == "assembly"}.each do |part| %>
          <option value="<%= part.id %>"<% if part.id == @parent_part_id.to_i %> selected<% end %>>
            <%= part.full_part_number %> - <%= part.name %>
          </option>
          <% end %>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-4 offset-2">
        <label class="float-right mt-1">
          <input type="submit" class="btn btn-success btn-medium" value="Create <%= @type.capitalize %>">
        </label>
      </div>
    </div>
  </form>
</div>

<%= erb :footer %>
