<%= erb :header %>

<% if CheesyCommon::Config.enable_ordering %>
<div class="container nav-sep">
  <div class="row">
    <div class="col">
      <h2>Orders</h2>
    </div>
  </div>

  <hr>

  <% i = 0 %>
  <div class="row justify-content-center" style="margin-top: 1em;">
  <% Project.reject { |project| project.hide_dashboards == 1 }.each do |project| %>
    <div class="col-4">

        <div class="card mx-auto" style="width: 250px;">
          <%if File.exist?("./uploads/projects/#{project.id}/avatar.png") %>
            <img class="rounded card-img-top" style="width:250px;height:250px;" src="./uploads/projects/<%= project.id %>/avatar.png">
          <%else %>
            <img class="rounded card-img-top" src="/img/placeholder.png">
          <%end %>

          <div class="card-body"
            <h4><b><%= project.name %> Orders</b></h4><hr>
            <a href="/projects/<%= project.id %>/orders/open">Open</a><br>
            <a href="/projects/<%= project.id %>/orders/ordered">Placed</a><br>
            <a href="/projects/<%= project.id %>/orders/complete">Received</a><br>
            <a href="/projects/<%= project.id %>/orders/stats">Totals and Stats</a>
          </div>

        </div>

    </div>
    <% i += 1 %>
    <% if (i % 3 == 0) %>
  </div>
  <div class="row" style="margin-top: 1em;">
    <% end %>
  <% end %>


</div>
<% end %>
<%= erb :footer %>
