<form action="/projects/<%= @project.id %>/order_items/edit" method="POST">
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">Vendor</th>
        <th scope="col">Quantity</th>
        <th scope="col">Part Number</th>
        <th scope="col">Description</th>
        <th scope="col">Unit Cost</th>
        <th scope="col">Total Cost</th>
        <th scope="col">Notes</th>
      <% if @user.can_edit? %>
        <th scope="col">Action</th>
      <% end %>
      </tr>
    </thead>
    <tbody>
    <% order_items.each do |item| %>
      <tr id="order-item-<%= item.id %>">
        <td>
          <a href="/projects/<%= @project.id %>/orders/stats" style="color: black;">
            <%= item.order.vendor_name rescue "" %>
          </a>
        </td>
        <td><%= item.quantity %></td>
        <td><%= item.part_number %></td>
        <td><%= item.description %></td>
        <td><%= "$%.2f" % item.unit_cost %></td>
        <td><%= "$%.2f" % item.total_cost %></td>
        <td><%= item.notes %></td>
        <% if @user.can_edit? %>
          <td>
            <a class="btn btn-primary btn-sm" onclick="editOrderItem(<%= @project.id %>, <%= item.id %>);">
              <i style="color: white;" class="fas fa-edit"></i>
            </a>
            <a href="/projects/<%= @project.id %>/order_items/<%= item.id %>/delete"
                class="btn btn-danger btn-sm">
              <i class="fas fa-trash"></i>
            </a>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  </table>
  <hr>
    <% if order %>
    <table class="table table-hover mt-2">
      <tr>
        <th scope="col" colspan="2">Purchaser</th>
        <th scope="col">Subtotal</th>
        <th scope="col">Tax</th>
        <th scope="col">Shipping</th>
        <th scope="col" colspan="2">Total</th>
      </tr>
      <tbody>
      <tr>
        <td colspan="2"><%= order.paid_for_by %></td>
        <td><%= "$%.2f" % order.subtotal %></td>
        <td><%= "$%.2f" % order.tax_cost.to_f %></td>
        <td><%= "$%.2f" % order.shipping_cost.to_f %></td>
        <td colspan="3"><%= "$%.2f" % order.total_cost %></td>
      </tr>
      </tbody>
    <% end %>

  </table>
</form>
