<%= erb :header %>
<div class="container nav-sep">
  <h2>Edit Part</h2>
  <hr>

  <form action="" method="POST" enctype="multipart/form-data">
	<div class="row mb-4">
	  <div class="col">
	    <input type="hidden" name="referrer" value="<%= @referrer %>" />
	    <label><span class="label label-info">Part Number</span> <%= @part.full_part_number %></label>
    </div>
  </div>
<% if @user.can_edit? %>
  <div class="row">

    <div class="col">
	    <label class="float-right">Part Name</label>
    </div>
    <div class="col">
	    <input type="text" name="name" <% if @part.type == "cots" %> placeholder="<%= VendorPart[@part.vendor_part_id].name %>" readonly <% else %> value="<%= @part.name %>" <% end %>/>

    </div>
    <% if @part.type != "cots" %>
    <div class="col">
      <label class="float-right">Manufacturing Method</label>
    </div>
    <div class="col">
      <select name="mfg_method">
	      <% Part::MFG_MAP.each_pair do |key, value| %>
		      <option value="<%= key %>"<% if @part.mfg_method == key %> selected<% end %>>
		          <%= value %>
		      </option>
	      <% end %>
	    </select>
    </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col">
      <label class="float-right">Quantity</label>
    </div>
    <div class="col">
      <input type="text" name="quantity" value="<%= @part.quantity %>" />
    </div>
    <% if @part.type != "cots" %>

    <div class="col">
      <label class="float-right">Reset Current Revision</label>
    </div>
    <div class="col">
      <select name="rev">
        <% (@part.rev_history.split(",")).each do |rev_letter| %>
        <option value="<%= rev_letter %>"<%if @part.rev == rev_letter %> selected<% end %>>
        <%= rev_letter %>
        </option>
        <% end %>
      </select>
    </div>
    <% end %>
  </div>
  <hr>
<% end %>
  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col-4">
    	    <label class="float-right">Status</label>
        </div>
        <div class="col-8">
    	    <select name="status">
    	      <% Part::STATUS_MAP.each_pair do |key, value| %>
    		    <option value="<%= key %>"<% if @part.status == key %> selected<% end %>>
    		      <%= value %>
    		    </option>
    	      <% end %>
    	    </select>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label class="float-right">Priority</label>
        </div>
        <div class="col-8">
          <select name="priority">
            <% Part::PRIORITY_MAP.each_pair do |key, value| %>
            <option value="<%= key %>"<% if @part.priority == key %> selected<% end %>>
              <%= value %>
            </option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
    <% if @part.type != "cots" %>
    <div class="col-1">
      <label class="float-right">Notes</label>
    </div>
    <div class="col">
      <textarea style="width: 100%;" name="notes" rows="4"><%= @part.notes %></textarea>
    </div>
    <% end %>
  </div>

<% if @user.can_edit? and @part.type != "cots"%>
  <hr>
	<fieldset>
    <div class="row">
      <div class="col">
        <div class="row">
          <i class="mx-auto fas fa-ruler-combined fa-4x"></i>
        </div>
        <div class="row mt-4">
          <label class="mx-auto btn btn-primary">
            Attach Drawing <input type="file" style="display: none;" name="drawing" accept=".pdf">
          </label>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <i class="mx-auto far fa-file-alt fa-4x"></i>
        </div>
        <div class="row mt-4">
          <label class="mx-auto btn btn-primary">
            Attach Documentation <input type="file" style="display: none;" name="documentation" accept=".pdf">
          </label>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <i class="mx-auto far fa-file-code fa-4x"></i>
        </div>
        <div class="row mt-4">
          <label class="mx-auto btn btn-primary">
            Attach DXF <input type="file" style="display: none;" name="toolpath" accept=".dxf">
          </label>
        </div>
      </div>
    </div>
	</fieldset>
<% end %>
  <div class="row mt-5">
    <div class="col-12">
      <button type="submit" class="btn btn-success btn-lg btn-block" onclick="return verifyFileTypes(this.parentElement.parentElement);">Save Part</button>
    </div>
  </div>
</div>

<%= erb :footer %>
