<%= erb :header %>

<div class="container nav-sep">

  <h2>Active Users</h2>
  <hr>
  <table class="table table-bordered table-hover table-sm">
    <thead class="thead-light">
      <tr>
        <th>E-mail</th>
        <th>Name</th>
        <th>Permission</th>
        <th>Last Activity</th>
        <th>Action</th>
      </tr>
    </thead>
    <% User.where(:enabled => 1).order_append(:last_name).order_append(:first_name).each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.first_name %> <%= user.last_name %></td>
        <td><%= User::PERMISSION_MAP[user.permission] %></td>
        <td><%= #user.last_active %></td>
        <td>
          <a href="/users/<%= user.id %>/edit" class="btn btn-primary btn-sm">
            <i class="fas fa-edit"></i>
          </a>
          <a href="/users/<%= user.id %>/delete" class="btn btn-danger btn-sm">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </table>
  <h2>Disabled/Pending Users</h2>
  <hr>
  <table  class="table table-bordered table-hover table-sm">
    <thead class="thead-light">
      <tr>
        <th>E-mail</th>
        <th>Name</th>
        <th>Permission</th>
        <th>Action</th>
      </tr>
    </thead>
    <% User.where(:enabled => 0).order_append(:last_name).order_append(:first_name).each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.first_name %> <%= user.last_name %></td>
        <td><%= User::PERMISSION_MAP[user.permission] %></td>
        <td>
          <a href="/users/<%= user.id %>/edit" class="btn btn-primary btn-sm">
            <i class="fas fa-edit"></i>
          </a>
          <a href="/users/<%= user.id %>/delete" class="btn btn-danger btn-sm">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="row">
    <div class="col">
      <span class="float-right"><a href="/new_user" class="btn btn-success btn-small"><i class="icon-white icon-user"></i> New User</a></span>
    </div>
  </div>
</div>

<%= erb :footer %>
